nav {
    background-color: #0d6efd;
    height: 70px;
  
    .float-left {
      float: left;
    }
  
    .display-flex-end {
      justify-content: flex-end;
    }
  
    @media screen and (min-width: 375px) {
      ul {
        flex-direction: column;
      }
    }
  
    @media screen and (min-width: 1140px) {
      ul {
        flex-direction: row;
      }
    }
  
    a:hover {
      color: white;
      cursor: pointer;
    }
  }

  button{
    margin-top: 15px;
  }