<nav id="menu">
  <div class="">
    <div class="row">
      <div class="col-xs-12 col-lg-12">
        <div class="row">
          <div class="col-sm-2">
            <img style="width:80px;" src="../../../assets/dna.png" alt="Logo_Dna" (click)='navigateHome()'> 
          </div>
          <div class="col-sm-1">
            <button mat-raised-button [matMenuTriggerFor]="cadastros"><img style="width: 20px;"
                src="../../../../assets/icones/icones_cadastrar/registro.png">Cadastros</button>
            <mat-menu #cadastros="matMenu">
              <button mat-menu-item (click)='navigateveiculos()'><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/veiculo_icon.png">Veiculos</button>
              <button mat-menu-item (click)='navigateEmpresa()'><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/empresa_icon.png">Empresas</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/prestador_servico_icon.png">Prestadores de
                Serviço</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/documentos_icon.png">Documentos</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/sinistro_icon.png">Causas de Sinistro</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/pessoas_icon.png">Pessoas</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/tipo_pessoa_icon.png">Tipos de Pessoas</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/status_sinistro_icon.png">Status Sinistro</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/status_ok_icon.png">Status Savados</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/risco_sensores_icon.png">Risco Sensores</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/risco_atuadores_icon.png">Risco Atuadores</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/tipos_vinculo_icon.png">Tipos de Vínculos</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/recusa_documentos.png">Motivos de Recusa
                Documentos</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/circular_susep_icon.png">Circular Susep</button>
              <button mat-menu-item><img style="width: 20px; margin-right:3px;"
                  src="../../../../assets/icones/icones_cadastrar/checklist_icon.png">Checklist</button>
            </mat-menu>
          </div>
          <div class="col-sm-1">
            <button mat-raised-button [matMenuTriggerFor]="cadastros"><img style="width: 20px;"
                src="../../../../assets/icones/icones_cadastrar/registro.png">Cadastros</button>
            <mat-menu #cadastros="matMenu">

            </mat-menu>
          </div>
          <div class="col-sm-1">
            <button mat-raised-button [matMenuTriggerFor]="cadastros"><img style="width: 20px;"
                src="../../../../assets/icones/icones_cadastrar/registro.png">Cadastros</button>
            <mat-menu #cadastros="matMenu">
            </mat-menu>
          </div>
          <div class="col-sm-1">
            <button mat-raised-button [matMenuTriggerFor]="cadastros"><img style="width: 20px;"
                src="../../../../assets/icones/icones_cadastrar/registro.png">Cadastros</button>
            <mat-menu #cadastros="matMenu">
            </mat-menu>
          </div>
          <div class="col-sm-1">
            <button mat-raised-button [matMenuTriggerFor]="cadastros"><img style="width: 20px;"
                src="../../../../assets/icones/icones_cadastrar/registro.png">Cadastros</button>
            <mat-menu #cadastros="matMenu">
            </mat-menu>
          </div>

          <div class="col-sm-1 display-flex-end">
            <button class="btn btn-danger"><a (click)="logout()">Sair</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>