.buttonCancel{
    text-align: end;
}

.row{
    margin: 30px;
}

label{
    font-weight: 900;
    font-size: 14px;
}

.custom-card{
    margin-top: 80px;
}



@media (min-width: 1200px){
    .custom-card {    
        margin-top: 60px;
    }   
    .row{
        margin: 20px;
    }
  
}